:root {
    --light: white;
    --light-alt: lightgrey;
    --dark: #595a5b;
    --dark-alt: grey;
}

body {
    font-family: 'Rubik', sans-serif;
}

#bg {
    background-image:url(../img/banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.center { text-align: center}

.alert {
    color: red;
    padding: 5px;
    text-shadow: none;
    font-size: 12px;
}

.error {
    border:1px solid red;
}

.hide {
    display: none;
}

.white {
    color: white;
}

.black {
    color: black;
}

.form-group {
    font-weight: bold;
}

.left { text-align: left}

.transbox {
  background-color: rgba(255, 255, 255, 0.90);
    color: #000000;
    border-radius: 100px;
}

.transbox p {
    margin: 5%;
    font-weight: bold;
    opacity: 1.0;
}

.transbox-w {
  background-color: rgba(255, 255, 255, 0.90);
    color: #000000;
}

.transbox-w p {
    margin: 5%;
    font-weight: bold;
    opacity: 1.0;
}

.transbox-g {
  background-color: rgba(0, 0, 0, 0.1);
}

.transbox-g p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    opacity: 1.0;
}

.transbox-b {
    color: white !important;
    text-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.transbox-b-dark {
    color: white !important;
    text-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

.transbox-b p {
    margin: 5%;
    font-weight: bold;
}

body {
	line-height: 30px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
    line-height: 25px;
}

.rating {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.banner {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}


.banner .title {
    color: aliceblue;
    padding-top: 90px;
    font-size: 50px;
    font-weight: 500;
}


.banner .logo {
    width: 350px;
    background-size:cover;
}

.banner .title-sm {
    color: aliceblue;
    padding-top: 70px;
    font-size: 50px;
    font-weight: 500;
}

.banner .logo-sm {
    width: 250px;
    background-size:cover;
}


.box {
    min-height: 30px;
}

.content {
    background-size: cover;
}


.white-text {
    color:white;
    text-shadow: 1px 0px black;
}

.submit-btn {
    font-size: 25px;
}

.button-info {
    color: var(--light);
    background-color: var(--dark);
}

.button-selected {
    color: var(--dark);
    background-color: var(--light);
    border-color: black
}

.button {
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button:hover {
    color: var(--dark);
    background-color: var(--light);
}

.form ul {
  list-style:none;
  padding: 0;
}

.form ul li {
  overflow:hidden;
}

.form ul li.checkbox input {
  float:left;
}

.form ul li.checkbox label {
  float:right; 
  width:270px;
}

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px var(--light) solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px var(--light) solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: var(--dark);
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
.songbook-wrap {
    position:absolute;
    z-index: -1;
    padding-top:20px;
    background-color: var(--dark);
    color: white;
        
}

.nav-pills{
    padding: 15px 15px;
}

a {
   color: var(--light);
}

.nav-pills a{
    color: var(--light);
    background-color: var(--dark);
}

.nav-pills {
    float: right !important;
}

.nav-pills a:hover{
    color: var(--dark);
    background-color: var(--light);
}

a:hover{
    text-decoration: none;
}


.dataTables_wrapper{
    color: white !important;
    text-shadow: none !important;
}

.album_pic{
    width: 100%;
    padding-bottom: 100%;
    background-size: 100% 100%;
    
}

.song_album_pic{
    width: 100%;
    padding-bottom: 100%;
    background-size: 100% 100%;
    
}

.login-box{
    color: white !important;
    text-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    -webkit-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
}

.under_shadow{
    -webkit-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
}

.nav-pill{
    -webkit-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
}

.button{
    -webkit-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
    box-shadow: 5px 4px 25px -2px rgba(0,0,0,0.83);
}

.inner_shadow{
    -webkit-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
}

.inner_layer{
    background: #666;
}


tr {
   -webkit-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76); 
}

.album-slider .pic{
    margin-top: 10px;
    width: 165px;
    height:165px;
}

.add-song-album {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}


label {
    color: white !important;
}

input[type="search"]  {
    color: black!important;
    -webkit-box-shadow: inset -1px 1px 4px 1px  rgba(0,0,0,0.76);
    -moz-box-shadow: inset -1px 1px 4px 1px  rgba(0,0,0,0.76);
    box-shadow: inset -1px 1px 4px 1px  rgba(0,0,0,0.76);
}

.slick-slide{
    width: 190px;
}

.slick-slide:hover {
    background-color: rgba(0, 0, 0, 0.50);
}

.slick-slide img{
    display: initial;
}

a:link, a:visited {
    text-decoration: none;
}

.track-select {
    color: var(--dark) !important;
}

.caption {
    color: var(--light);
    text-decoration: none;
}

.caption :hover{
    color: var(--dark-alt)
}

.page-label {
    float:right; 
    padding-right:20px;
}

.odd {
    background-color: var(--dark) !important;
    color: var(--light);
}

.even {
    background-color: var(--dark-alt) !important;
    color: var(--light);
}

#songs-table tr{
    cursor: pointer;
}

#songs-table tr:hover{
    background-color: var(--light-alt) !important;
    color: var(--dark-alt);
    
}

table.dataTable {
    background-color: var(--dark-alt);
}

.navbar-form {
    margin-bottom: 0px;
    margin-top: 0px;
}

.glyphicon {
    cursor: pointer;
    font-size: 16px;
}

.glyphicon-edit {
    color:#5bc0de;
}

.glyphicon-plus {
    color:#5bc0de;
}

.glyphicon-music {
    color:darkorange;
}

.glyphicon-home {
    color:crimson;
}

.glyphicon-remove {
    color:#d9534f;
}

.input-group-btn .glyphicon-trash {
    color:white;
}

.glyphicon-trash {
    color:#d9534f;
}

.glyphicon-ok {
    color:limegreen;
}

.glyph-edit {
    margin-left: 3px;
}

.glyphicon:hover {
    color: var(--light-alt);
}

.file-preview-frame {
    position: relative;
    margin: 8px;
    height: inherit;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 6px;
    float: none; 
    text-align: center;
    vertical-align: middle;
}

.file-preview-initial{
    display: block !important;
}


.media-playlist audio{width:100%;padding:0px;}

.media-playlist .media_options{
    -webkit-box-shadow: 5px 4px 25px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: 5px 4px 25px 2px rgba(0,0,0,0.76);
    box-shadow: 5px 4px 25px 2px rgba(0,0,0,0.76);
}

.media-playlist {
    text-shadow:none; 
    width:100%;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px; 
    padding-top:15px;
    -webkit-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
}

.media-playlist a{
    color:var(--light); 
    background-color:var(--dark); 
    text-decoration:none; 
    border-bottom: thin solid black;
}

.media-playlist .active a{
    color:var(--dark); 
    background-color:var(--light);  
    text-decoration:none; 
    -webkit-box-shadow: inset 2px 1px 10px 1px rgba(0,0,0,0.76);
    -moz-box-shadow: inset 2px 1px 10px 1px  rgba(0,0,0,0.76);
    box-shadow: inset 2px 1px 10px 1px  rgba(0,0,0,0.76);
}
.media-playlist li a{padding:5px;display:block;}
.media-playlist li a:hover{text-decoration:none;}
.media-playlist {list-style: none;}

.video-container {
    border: 2px solid;
    padding: 20px;
    height: 250px;
    width: 100%;
    resize: vertical;
    overflow: scroll;
}

.lyric-container {
    height: 600px;
    resize: vertical;
    overflow: scroll;
    color: white !important;
    text-shadow: none !important;
}

.section-label{
    font-size: 24px;
    text-align: left;
}

.media-label{
    background-color: var(--dark);
    font-size: 24px;
    border-bottom: thin solid black;
    border-right: thin solid black;
    border-left: thin solid black;  
    text-decoration: none;
    cursor: pointer;
}

.media-label-active{
    -webkit-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    -moz-box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76);
    box-shadow: inset 5px 4px 25px 2px rgba(0,0,0,0.76); 
    color:var(--dark); 
    background-color:var(--light);  
}

.left {
    text-align: left;
    margin-left: 5px;
}

.no-padd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padd-5 {
    padding: 5px;
}

.padd-15 {
    padding: 5px;
} 

.padd-20 {
    padding: 20px;
}

.padd-30 {
    padding: 30px;
}

.padd-0-20 {
    padding-bottom: 20px;
}

.padd-20-0 {
    padding-top: 20px;
}

.padd-0-40 {
    padding-bottom: 40px;
}

.padd-0-100 {
    padding-top: 0px;
    padding-bottom: 100px;
}

.padd-0-220 {
    padding-bottom: 220px;
}

.padd-10-0 {
    padding-top: 10px;
}

.padd-10-40 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.padd-15-0 {
    padding-top: 15px;
}

.padd-20-0 {
    padding-top: 20px;
}

.padd-20-20 {
    padding-top: 20px;
    padding-bottom: 42px;
}

.padd-20-40 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.padd-35-0 {
    padding-top: 40px;
}

.padd-40-0 {
    padding-top: 40px;
}

.padd-40-20 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.padd-40-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padd-40-30 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.padd-50-20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.padd-60-0 {
    padding-top: 60px;
}

.padd-65-40 {
    padding-top: 65px;
    padding-bottom: 40px;
}

.padd-80 {
    padding: 80px;
}

.padd-120-0 {
    padding-top: 120px;
}

.padd-100-40 {
    padding-top: 100px;
    padding-bottom: 40px;
}
